* {
    main-bg:            #282C1FE6;
    main-fg:            #9EA159;
    main-br:            #849751;
    main-ex:            #4D5933;
    select-bg:          #9EA159;
    select-fg:          #282C1F;
}
